@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="container text-center mt-4">
		<div class="row">
			<div class="col">
								This is the CRM
			</div>
			<div class="col">
				<a class="link-primary">View Persons😊</a>
				<a class="link-primary">CRM Settings🔘</a>
			</div>
			<div class="col">
				Column
			</div>
		</div>
	</div>
	<div class="container text-center mt-5">
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
				<div class="display-3 mb-4">The CRM</div	>
				This is a CRM i am creating that is supposed to run locally in Electron
			</div>
			<div class="col">
			</div>
		</div>
	</div>
</div>
